*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    min-height: 100vh;
}
.header{
    text-align: center;
    padding: .7em 0;
    background-color: #555574;
    color: white;
}

.calendar {
    text-align: center;
    margin: auto;
    background-color: white;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 1px 3px rgba(0, 0, 0,0.12) , 0px 1px 2px rgba(0, 0, 0,0.24);
}

.calendar table{
    /* background-color: red; */
    border-spacing: 0;
}

.calendar thead{
    background-color: #3a3a59;
    color: white;
}

.calendar td {
    padding: 4px;
}
.calendar tr td{
    border: 1px solid #f5f5f5;
    /* border: 1px solid red; */
}
.calendar button{
    display: inline-block;
    width: 50%;
    padding: 6px;
    border: none;
    outline: none;
    background-color: #ef3f61;
    cursor: pointer;
    color: white;
}

.calendar button:hover{
    background-color: #db3b61;
}

.tr{
    cursor: pointer;
    transition: all .5s;
}

.tr:hover{
    background-color: hsl(0,0%,80%)

}